In [1]:
import numpy as np
import pandas as pd

In [59]:
df = pd.read_csv('C:/Users/yhchou/Desktop/csv_file/nownews/news_content_0514.csv')

In [60]:
df = df[~df['news_label'].isin([1])]
df = df[~df['news_label'].isin([2])]
df = df[~df['news_label'].isin([4])]
df = df[~df['news_label'].isin([5])]
df = df[~df['news_label'].isin([8])]

In [62]:
df.head()

,Unnamed: 0,title,content,news_label,Unnamed: 0.1
0,0,李來希扯「小燈泡」堅持不道歉！郭昱晴氣炸：你就是無恥 | 政治 | NOWnews 今日新聞,全國公務人員協會榮譽理事長李來希今（ 13 ）日痛罵挺罷韓的時代力量立委王婉諭，更口出惡言「...,0,NaN
1,1,恐遭國民黨開除黨籍！李來希搬「46年經歷」狠嗆：我好怕 | 政治 | NOWnews 今日新聞,全國公務人員協會榮譽理事長李來希今（ 13 ）日狠戳時力立委王婉諭喪女之痛，引發全台譁然。連...,0,NaN
2,2,因選舉欠下2000萬全數還清 柯文哲：陳佩琪不會怪我了！ | 政治 | NOWnews 今日新聞,台北市長柯文哲，2018年在進行連任之戰期間，為了籌措選舉經費，將位在中正區捷運東門站附近的...,0,NaN
3,3,李來希挺韓失態扯小燈泡！她曝「最大受害者」：對立提升 | 政治 | NOWnews 今日新聞,今（ 13 ）日全國公務人員協會榮譽理事長李來希痛罵挺罷韓公投的時力立委王婉諭，更失態的扯出...,0,NaN
4,4,白宮官員戴MIT口罩 外交部欣慰：抗疫期間發揮效益 | 政治 | NOWnews 今日新聞,《China Post》(英文中國郵報)昨日獨家報導，台灣出口的口罩之中，約有3600片提供...,0,NaN

In [63]:
df = df[~df['news_label'].isin([1])]
df = df[~df['news_label'].isin([2])]
df = df[~df['news_label'].isin([4])]
df = df[~df['news_label'].isin([5])]
df = df[~df['news_label'].isin([8])]


df['news_label'].replace(3,1,inplace=True)
df['news_label'].replace(6,2,inplace=True)
df['news_label'].replace(7,3,inplace=True)
df['news_label'].replace(9,4,inplace=True)
df['news_label'].replace(10,5,inplace=True)
df['news_label'].replace(11,6,inplace=True)
df['news_label'].replace(12,7,inplace=True)
df['news_label'].replace(13,8,inplace=True)

In [65]:
df.describe()

       Unnamed: 0  news_label  Unnamed: 0.1
count  306.000000  306.000000    153.000000
mean   142.111111    4.000000    142.111111
std     69.431561    2.586218     69.545664
min      0.000000    0.000000      0.000000
25%    106.000000    2.000000    106.000000
50%    161.000000    4.000000    161.000000
75%    199.000000    6.000000    199.000000
max    237.000000    8.000000    237.000000